<template name="login">
  <div class="container">
    <div class="row main">
      <div class="main-login main-center">

  						<form id="form2">

      										<div class="form-group">
      											<input type="text" required="" placeholder="Email" name="email" id="email" class="form-control xyz">
      										</div>
      										<div class="form-group">
      											<input type="password" required="" placeholder="Password" name="password" id="password" class="form-control xyz">
      										</div>
                          <button type="submit" class="submit-btn" name="sub" id="sub">Login</button>
  									</form>
  								</div>
  						</div>
            </div>
</template>
