<!-- <template name="page1">
  <style>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  .serif {
    font-family: "Times New Roman", Times, serif;
   }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 9px;
    box-sizing: border-box;
    }
  input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: blue;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
input[type=radio]:hover{
    background-color: #45a049;
  }
 input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
}
  </style>
<div class="tab-content col-sm-8">
  <div id="student">
    <h2>student_details:</h2>

    <form id="form1" action="#">
      <div class="form-group">
        <label for="first"><p class=serif>name:</p></label> <i class="glyphicon glyphicon-user"></i>
        <input type="text" id="first" name="first" placeholder="Enter your name" class="xyz">
      </div>
      <div class="form-group">
        <label for="rollNo"><p class=serif>Roll No:</p></label><br>
        <input type="text" class="xyz" id="rollNo" placeholder="Enter your rollNo" name="rollNo">
      </div>
      <div class="form-group">
        <label for="email"><p class=serif>Email:</p></label><br>
        <input type="text" class="xyz" id="email" placeholder="Enter your email" name="email">
      </div>
      <div class="form-group">
        <label for="className"><p class=serif>class:</p></label><i class="glyphicon glyphicon-education"></i><br>
        <input type="text" class="xyz" id="className" placeholder="Enter your class" name="className">
      </div>
      <div class="form-group">
        <label for="contact">Contact number:</label> <i class="glyphicon glyphicon-earphone"></i>
        <input type="text" class="xyz" id="contact" placeholder="Enter contact number" name="contact">
      </div>
      <div class="form-group">
        <label for="age">Age:</label> <i class="glyphicon glyphicon-user"></i>
        <input type="text" class="xyz" id="age" placeholder="Enter your age" name="age">
      </div>
      <div class="form-group">
        <label for="S/O">S/O:</label> <i class="glyphicon glyphicon-user"></i>
        <input type="text" class="xyz" id="sonOf" placeholder="Enter your parent's name" name="sonOf">
      </div>
      <div class="form-group">
        <label for="address">Address:</label> <i class="glyphicon glyphicon-home"></i><br>
        <input type="text" class="xyz" id="address" placeholder="Enter your address" name="address">
      </div>
      <div>Gender:<br><br>
        <input type="radio" name="gender" value=gender class="xyz" id="gender" checked> Male <br>
        <input type="radio" name="gender" value=gender class="xyz" id="gender"> Female <br><br> </div>
      <div class="form-group">
        <label for="my-datepicker">DateOfBirth:</label> <i class="glyphicon glyphicon-calendar"></i><br>
        <input type=date class="xyz" id="mydatepicker" placeholder="enter your dob" name="date "></div>
      <div class="form-group">USE STATE:<br><br>
        <select id="state" value=state>USE STATE:
                   <option name="state" id="state" class="xyz">U.P</option>
                   <option name="state" id="state" class="xyz">M.P</option>
                   <option  name="state" id="state" class="xyz">Maharastra</option>
                   <option  name="state" id="state" class="xyz">odisha</option>
                 </select>
      </div>

      <button type="submit" class="upd_btn btn btn btn-primary btn-lg pull-left" id="btn1">Submit</button> <br><br>
      <!- <button type="submit" id="Updbtn" class="edit_btn1" attr="{{_id}}">Update</button> -->
      <!-- <button name="edbtn" type="button" id={{_id}} class="upd_btn upd_btn btn-primary btn-lg pull-right">Update</button> -->
    <!-- </form>
   </div>
  </div>
</template>  -->
