<template name="signup">
		<div class="container">
			<div class="row main">
				<div class="main-login main-center">
				<h5>Sign up once and login again.</h5>

          <form class="form-group" id="formTest">
						<!-- <form id= "formTest" action="#"> -->
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Your Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
									<input type="text" class="form-control xyz" name="name" id="name"  placeholder="Enter your Name"/>
								</div>
                <label class="error text-danger" for="name"></label>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
									<input type="text" class="form-control xyz" name="email" id="email"  placeholder="Enter your Email"/>
								</div>
                <label class="error text-danger" for="email"></label>
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
									<input type="text" class="form-control xyz" name="username" id="username"  placeholder="Enter your Username"/>
								</div>
               <label class="error text-danger" for="username"></label>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
									<input type="password" class="form-control xyz" name="pas" id="pas"  placeholder="Enter your Password"/>
								</div>
               <!-- <label class="error text-danger" for="password"></label> -->
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
									<input type="password" class="form-control xyz" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
								</div>
               </div>
						</div>

            <div class="form-group">
							<label for="mobile" class="cols-sm-2 control-label">Mobile no.</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
									<input type="text" class="form-control xyz" name="mobile" id="mobile"  placeholder="your Mobile No."/>
								</div>
               <label class="error text-danger" for="mobile"></label>
							</div>
						</div>

						<div class="form-group ">
							<button type="submit"  id="sub-btn" class="btn btn-primary btn-lg btn-block login-button">register</button>
						</div>

					</form>
				</div>
			</div>
		</div>
</template>
